body {
  background-color: #3B5998

}

#title {
  font-family: 'VT323', monospace;
  font-family: 'VT323', sans-serif;
  font-size: 6rem;
  text-align: center;
  color: #FFFFFF;

}

#p1 {
  font-family: 'VT323', monospace;
  font-family: 'VT323', sans-serif;
  font-size: 2rem;
  text-align: center;
  color: #F7F7F7;
}

#mainButton {
  font-family: 'Montserrat', sans-serif;
  font-family: 'VT323', sans-serif;
  font-size: 2rem;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #8B9DC3;
  color: #FFFFFF;
  margin-bottom: 2rem;
}

#mainButton:hover {
  background-color: #3B5998;
  color: #FFFFFF;

}

#mainButton:active {
  background-color: #3B5998;
  color: #FFFFFF;
  transform: translateY(1rem);
}
/* Change the font-size & width for the mobile view */
.UI_View
{
  min-height: calc(100vh - 310px);

}
/* Change the font-size & width for the mobile view */
.game_buttons {
  font-size: 8rem;
  width: 25%;
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
  border: 0.5rem solid black;

}

.game_buttons:active {
  transform: translateY(0.1rem);
}

.buttonOne {
  background-color: green;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.game_buttons_bottom {
  text-align: center;
}

.buttonTwo {
  background-color: red;
  display: inline-block;
}

.buttonThree {
  background-color: yellow;
  display: inline-block;
}

.buttonFour {
  background-color: blue;
  display: inline-block;
}



.footer {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  text-align: center;
  margin: 0;
  height: 1.875rem;

}

/* Page colors from: https://www.w3schools.com/colors/colors_brands.asp  */
