body {
  background-color: #3B5998
}

#title {
  font-family: 'VT323', monospace;
  font-family: 'VT323', sans-serif;
  font-size: 5rem;
  text-align: center;
}

#p1 {
  font-family: 'VT323', monospace;
  font-family: 'VT323', sans-serif;
  font-size: 2rem;
  text-align: center;
}

#mainButton {
  font-family: 'Montserrat', sans-serif;
  font-family: 'VT323', sans-serif;
  font-size: 2rem;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #DFE3EE;
  margin-bottom: 2rem;
}

#mainButton:hover {
  background-color: #3B5998;
}

#mainButton:active {
  background-color: #3B5998;
  transform: translateY(1rem);
}

.game_buttons {
  font-size: 8rem;
  width: 25%;
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
  border: 0.5rem solid black

}

.game_buttons:active {
  transform: translateY(0.1rem);
}

.buttonOne {
  background-color: green;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.game_buttons_bottom {
  text-align: center;
}

.buttonTwo {
  background-color: red;
  display: inline-block;
}

.buttonThree {
  background-color: yellow;
  display: inline-block;
}

.buttonFour {
  background-color: blue;
  display: inline-block;
}
